:root {
  --primary-lightness: 0.7;
  --primary-chroma: 0.1628;
  --primary-hue: 241.41;
  
  /* Usage */
  --primary-color: oklch(var(--primary-lightness) var(--primary-chroma) var(--primary-hue));
}

#scroll-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #3b82f6;
  transform-origin: 0% 50%;
  animation: grow-progress auto linear;
  animation-timeline: scroll();
}

@keyframes grow-progress {
  from { transform: scaleX(0); }
  to { transform: scaleX(1); }
}
